<html>
    <head>
        <title> My First Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Its a Beautiful Life as a Coder Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p> It may seem hard at first, but everything that is worth knowing is never easy at first! Keep your head up and keep coding!</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p> I'm making my first webpage that will go live online! Im geeked!!! </p>
        </div>
    </body>
</html>